# This is a gitignore for Java projects.
*
!.gitattributes
!.gitignore

# Source and test files
!src/
!test/

# Gradle
!gradle/wrapper/
!gradlew
!gradlew.bat
!build.gradle

# Travis
!.travis.yml

# Misc
!LICENSE
!readme.md
